<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Show file </h1>
      <h3><%= @file %></h3>
      <p><%= @data %></p>
    </div>
    <%= link_to 'back', files_path %>
  </div>
</div>
